/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #5c9f24;
  text-decoration: none;
}

a:hover {
  color: #74c92d;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #db0b0b;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #ff0000;
  color: #fff;
}

/*Header
*/
#header {
  background: rgba(211, 211, 211, 0.75);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 48px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 22px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0 4px;
  text-transform: uppercase;
}

.nav-menu a:hover, .nav-menu li:hover > a{
  color: #ee0808;
}

.nav-menu .tanda a {
  color: #ee0808;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}


.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 22px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: rgba(211, 211, 211);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #2a2a2a;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #ff0000;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.8);
  overflow: hidden;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: 0.3;
}

#hero .carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: rgb(34, 31, 31);
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h3 {
  color: #444444;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h2 span {
  color: #5c9f24;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
  opacity: 1;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(49, 49, 49, 0.1);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.5);
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(187, 187, 187, 0.2);
  color: rgba(71, 252, 0, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #ff0000;
}

#tja .container img, #tkj .container img, #rpl .container img, #struktur-organisasi .container img, #akreditasi .container object, #akreditasi .container h2{
  margin-top: 80px;
}

#tja .container p, #tkj .container p, #rpl .container p{
  width: 80%;
  margin: 0 auto 30px auto;
  color: rgb(0, 0, 0);
}
.underline-title {
  background: -webkit-linear-gradient(right, #0d0e0d, #ff0000);
  height: 3px;
  margin: 2.5rem auto 0 auto;
  width: 25%;
}

/* # perpustakaan  */
.perpustakaan .perpustakaan-item {
  margin-bottom: 30px;
}

.perpustakaan .container h2 {
  margin-top: 90px;
}

.perpustakaan .container p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: rgb(0, 0, 0);
}

.perpustakaan #perpustakaan-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.perpustakaan #perpustakaan-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.perpustakaan #perpustakaan-flters li:hover, .perpustakaan #perpustakaan-flters li.filter-active {
  color: #fff;
  background: #5c9f24;
}

.perpustakaan #perpustakaan-flters li:last-child {
  margin-right: 0;
}

.perpustakaan .perpustakaan-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(42, 42, 42, 0.7);
}

.perpustakaan .perpustakaan-wrap::before {
  content: "";
  background: rgba(42, 42, 42, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.perpustakaan .perpustakaan-wrap img {
  transition: all ease-in-out 0.3s;
}

.perpustakaan .perpustakaan-wrap .perpustakaan-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.perpustakaan .perpustakaan-wrap .perpustakaan-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.perpustakaan .perpustakaan-wrap .perpustakaan-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}


.perpustakaan .perpustakaan-wrap:hover::before {
  opacity: 1;
}

.perpustakaan .perpustakaan-wrap:hover img {
  transform: scale(1.2);
}

.perpustakaan .perpustakaan-wrap:hover .perpustakaan-info {
  opacity: 1;
}

/*client*/
.clients {
  padding: 15px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.15);
}

/*Faq*/
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #9cdc66;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}


.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #9cdc66;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

/*Alumni*/




/*Footer*/
.col_white_amrc { color:#FFF;}
footer { 
  width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;
}
.pt2 { 
  padding-top:40px ; margin-bottom:20px ;
}
footer p { 
  font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;
}
.mb10 { 
  padding-bottom:15px ;
}
.footer_ul_amrc { 
  margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; 
}
.footer_ul_amrc li {
  padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{ 
  color:#CCC;
}
.footer_ul_amrc li a:hover{ 
  color:#fff; text-decoration:none;
}
.fleft { 
  float:left;
}
.padding-right { 
  padding-right:10px; 
}

.footer_ul2_amrc {
  margin:0px; 
  list-style-type:none; 
  padding:0px;
}
.footer_ul2_amrc li p { 
  display:table; 
}
.footer_ul2_amrc li a:hover { 
  text-decoration:none;
}
.footer_ul2_amrc li i { 
  margin-top:5px;
}

.bottom_border { 
  border-bottom:1px solid #323f45; 
  padding-bottom:20px;
}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { 
  display:inline;}

.foote_bottom_ul_amrc li a { 
  color:#999; 
  margin:0 12px;
}

.social_footer_ul {
   display:table; 
   margin:15px auto 0 auto; 
   list-style-type:none;  
}
.social_footer_ul li { 
  padding-left:20px; 
  padding-top:10px; 
  float:left; 
  margin-top: 10px; 
}

.social_footer_ul li a:hover {
  color: #fff;
}

.social_footer_ul li a { 
  color:#CCC; 
  border:1px solid #CCC; 
  padding:8px;
  border-radius:50%;
}
.social_footer_ul li i {  
  width:20px; 
  height:20px; 
  text-align:center;
}

#alumni {
  width: 50%;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 0;
  margin-top: 100px;
  margin-left: 320px;
  margin-bottom: 50px;
}

#alumni img {
  margin-left: 250px;
  height: 50%;
  width: 50%;
}

#alumni .carousel-item {
  width: 50%;
  height: 82vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: 0.3;
}

#alumni .carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#alumni .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#alumni .carousel-content {
  text-align: center;
}

#alumni h2 {
  color: rgb(34, 31, 31);
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#alumni h3 {
  color: #444444;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#alumni h2 span {
  color: #5c9f24;
}

#alumni p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: rgb(161, 161, 161);
  margin-left: 200px;
  margin-top: 20px;
}

#alumni .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#alumni .carousel-inner .carousel-item,
#alumni .carousel-inner .active.carousel-item-start,
#alumni .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#alumni .carousel-inner .active,
#alumni .carousel-inner .carousel-item-next.carousel-item-start,
#alumni .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#alumni .carousel-inner .carousel-item-next,
#alumni .carousel-inner .carousel-item-prev,
#alumni .carousel-inner .active.carousel-item-start,
#alumni .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#alumni .carousel-indicators li {
  cursor: pointer;
  background: rgb(119, 119, 119);
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#alumni .carousel-indicators li.active {
  opacity: 1;
  background: #ff0000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
